.container,
.sequences,
.sequence,
.controls ul,
.track,
.select-fields,
.beats,
fieldset,
.modifiers {
  display: flex;
}

label {
  display: block;
  font-size: 0.8rem;
}

.container {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.sequence {
  background: var(--darker-color);
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.controls {
  margin-top: 1rem;
}
.controls ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.controls li {
  margin: 0;
  padding: 0 0.5rem;
}

.track {
  justify-content: center;
}
.selects {

}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item a {
  display: inline-block;
  padding-right: 0.5rem;
}
.select-fields {
  justify-content: flex-end;
}
.beats {
  justify-content: center;
}
.modifiers .toggle-volume-button {
  margin-left: 0.5rem;
}

.beat:nth-child(4n) {
  margin-right: 1rem;
}

.modifiers fieldset {
  justify-content: center;
}
fieldset .input {

}
