:root {
  --darker-color: #17223b;
  --dark-color: #263859;
  --light-color: #6b778d;
  --lighter-color: #97a2b8;
  --lightest-color: #eeeeee;
  --secondary-color: #ff6768;
  --secondary-light-color: #ff999a;
  --header-height: 30px;
  --controls-height: 50px;
  --footer-height: 30px;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  background: var(--darker-color);
  color: var(--lightest-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

fieldset {
  margin: 0
  padding: 0;
  border: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
a:hover {
  color: var(--lightest-color);
}
button {
  background: var(--secondary-color);
  color: var(--darker-color);
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  font-size: 1.2rem;
  height: 40px;
  line-height: 36px;
  padding: 0 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  border-radius: 2px;
}
button:hover {
  background: var(--lightest-color);
}
button.active {
  background: var(--darker-color);
  border-color: var(--light-color);
  color: var(--light-color);
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 0;
  padding: 0;
}

header {
  height: var(--header-height);
  line-height: var(--header-height);
  display: flex;
  justify-content: space-between;
  background: var(--dark-color);
}
header h1 {
  margin: 0;
  height: 60px;
  margin-left: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
header nav {
  margin-right: 1rem;
}
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
footer {
  height: var(--footer-height);
  line-height: var(--footer-height);
  background: var(--dark-color);
}
footer nav ul {
  margin-left: 1rem;
}
footer nav ul li,
header nav ul li {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

input[type=range] {
  -webkit-appearance: none;
  width: 120px;
  margin: 13.8px 0;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #000;
  border: 1px solid #000;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  border-color: var(--secondary-color);
}
input[type=range]::-webkit-slider-thumb {
  border: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--lightest-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #000;
  border: 1px solid #000;
}
input[type=range]:focus::-moz-range-track {
  border-color: var(--secondary-color);
  outline: none;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--lightest-color);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 1px solid #000;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #000;
  border: 1px solid #000;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--lightest-color);
  cursor: pointer;
  height: 8.4px;
}

select {
  display: block;
  background: var(--secondary-color);
  color: var(--darker-color);
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  font-size: 1.2rem;
  height: 40px;
  line-height: 36px;
  padding: 0 0.2rem;
  margin: 0 0.25rem;
  cursor: pointer;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  max-width: 300px;
}
select::-ms-expand {
  display: none;
}
select:hover {
  background: var(--lightest-color);
}
select option {
  font-weight:normal;
}

.radio-buttons {
  display: flex;
  border: none;
  padding: 0;
  justify-content: space-between;
}
.radio-button {
  flex-grow: 1;
}
.radio-button input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.radio-button span {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 1rem;
  margin: 0;
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--darker-color);
  border-left: 2px solid var(--darker-color);
}
.radio-button input[type=radio]:checked ~ span {
  background: var(--darker-color);
  color: var(--secondary-color);
}
.radio-button:first-child span {
  border-left: none;
}

.svg-button {
  padding: 0 0.3rem;
}
.svg-button svg {
  margin-top: 5px;
}
.svg-icon {
  width: 30px;
  height: 30px;
}
.svg-icon polygon,
.svg-icon path {
  fill: var(--darker-color);
  stroke: var(--darker-color);
  stroke-width: 3;
  stroke-linejoin:round;
}

.dialog-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0,0,0,0.8);
  display: none;
}
.dialog-wrapper.active {
  display: block;
}
.dialog {
  box-sizing: border-box;
  border: 4px solid var(--lighter-color);
  background-color: var(--darker-color);
  position: absolute;
  top: 2rem;
  left: 50vw;
  transform: translateX(-50%);
  min-height: auto;
  max-width: 100%;
  border-radius: 2px;
}
.dialog > * {
  padding: 1rem 2rem;
}
.dialog h2 {
  margin: 0;
  display: block;
  background-color: var(--dark-color);
}
.dialog .input-row {
  margin-top: 2rem;
}
.dialog .input-row:first-child {
  margin-top: 1rem;
}
.dialog .input-row label {
  font-size: 1.2rem;
  width: 120px;
}
.dialog .input-row input {
  margin-right: 1rem;
}
.dialog .input-row input[type=range] {
  width: 200px;
}
.dialog .input-row {
  display: flex;
  align-items: center;
}
.dialog .input-row .value-text {
  background: black;
  padding: 0.2rem 0.4rem;
  color: var(--light-color);
  cursor: default;
}
.dialog-form-actions {
  text-align: right;
  background-color: var(--dark-color);
  margin-top: 1rem;
}
