---
---

@import 'normalize';
@import 'base';
@import 'collection';
@import 'ui';

// body {
//   background: black;
//   color: white;
// }

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
main {
  flex-grow: 1;
  position: relative;
}
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: var(--darkest-color);
}

.image {
  position: relative;
  transform-origin: 0 0;
  /* width: 99vw;
  height: 99vw; */
}

.image img,
.overlay,
.touch,
.instructions,
.image canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image canvas {
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
.touch {
  z-index: 100;
}
.image .overlay {
  z-index: 2;
}
.image .label {
  position: absolute;
  border: 2px solid red;
  box-sizing: border-box;
  z-index: 3;
}

.item-info {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: var(--darkest-color);
  border-top: 2px solid var(--lightest-color);
  color: var(--lightest-color);
  position: relative;
  z-index: 10000;
  // overflow: hidden;
  // overflow-y: visible;
  display: none;
}
#item-info {
  overflow: hidden;
}
.item-details h2,
.item-details p {
  margin: 0;
  white-space: nowrap;
}
.item-info .item-buttons {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.filters {
  position: absolute;
  bottom: 100%;
  left: 0;
  transition: top 0.5s ease-in-out;
}
.filters-controls {
  width: 210px;
  max-height: 0;
  background: var(--lightest-color);
  border: 2px solid var(--darkest-color);
  border-bottom: none;
  padding: 0;
  opacity: 0;
  color: var(--darkest-color);
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.filters.active .filters-controls {
  max-height: 100vh;
  opacity: 1;
  padding: 1rem;
}
.item-info .toggle-filters {
  top: -40px;
  right: auto;
  left: 0;
  font-weight: bold;
}
.item-info .clear-filters {
  position: relative;
  top: auto;
  right: auto;
  margin-top: 0.5rem;
}
.filters select,
.filters label {
  display: block;
  color: var(--darkest-color);
}
.filters .range-wrapper {
  white-space: nowrap;
}

.instructions {
  background: rgba(0, 0, 0, 0.8);
  z-index: 50;
  color: var(--lightest-color);
  text-align: center;
}
.instructions p {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  font-size: 3rem;
  margin: 0;
}
