---
---

@import 'normalize';
@import 'base';
@import 'collection';
@import 'ui';

// body {
//   background: black;
//   color: white;
// }

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
main {
  flex-grow: 1;
  position: relative;
}
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.image {
  position: relative;
  /* width: 99vw;
  height: 99vw; */
}

.image img,
.overlay,
.touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image .overlay {
  z-index: 2;
}
.image .label {
  position: absolute;
  border: 2px solid red;
  box-sizing: border-box;
  z-index: 3;
}
