---
---

@import 'normalize';
@import 'base';
@import 'collection';
@import 'ui';

// body {
//   background: black;
//   color: white;
// }

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
}
main {
  flex-grow: 1;
  position: relative;
}
.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: var(--darkest-color);
}

.image {
  position: relative;
  transform-origin: 0 0;
  /* width: 99vw;
  height: 99vw; */
}

.image img,
.overlay,
.touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.touch {
  z-index: 100;
}
.image .overlay {
  z-index: 2;
}
.image .label {
  position: absolute;
  border: 2px solid red;
  box-sizing: border-box;
  z-index: 3;
}

.item-info {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  background: var(--darkest-color);
  border-top: 2px solid var(--lightest-color);
  color: var(--lightest-color);
  position: relative;
  overflow: hidden;
}
.item-details h2,
.item-details p {
  margin: 0;
  white-space: nowrap;
}
.item-info .button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
