---
---

@import 'normalize';
@import 'base';

.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container h2,
.container h3 {
  margin: 0;
  line-height: 1.1;
}
.container h3 {
  margin-top: 0.25rem;
}

.container audio,
.container video {
  display: block;
  margin-top: 2rem;
}
