---
---

@import 'normalize';
@import 'base';
@import 'collection';
@import 'ui';

// .wrapper {
//   padding-top: $headerHeight + $collectionHeight + 130px;
// }

$beatWidth: 36px;
$beatWidthMobile: 28px;

footer {
  padding-bottom: 100px;
}

.sequence,
.controls,
.track-controls,
.beats,
.modifiers {
  display: flex;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.sequence {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0 2rem;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}
.sequence-controls-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--dark-color);
  color: var(--lightest-color);
}
.selectors label {
  display: block;
  color: var(--lightest-color);
  white-space: nowrap;
}
select.select-item {
  border-color: var(--collection-color);
  outline-color: var(--collection-color);
}
select.select-pattern,
select.select-drum {
  border-color: var(--drum-color);
  outline-color: var(--drum-color);
}

.controls {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  align-items: flex-end;
  // background: var(--lightest-color);
  flex-wrap: nowrap;
}
.controls li {
  margin: 0 0 6px;
  padding: 0 0.25rem 0 0;
  white-space: nowrap;
}
.controls li.slider-item {
  padding-right: 1rem;
}
.controls li:first-child button {
  margin-left: 0;
}
.record-audio.active {
  background: #c75262;
  color: white;
}
.controls button,
.controls .button {
  height: auto;
  line-height: 1;
  padding: 0.4rem 0.4rem;
  margin: 0 2px 0 0;
  font-size: 1rem;
}
.controls button.toggle-play {
  font-size: 1.6rem;
  padding: 0.4rem 0.8rem;
}
.controls button.randomize-collection {
  background: var(--collection-color);
  border-color: var(--collection-color);
}
.controls button.randomize-drum {
  background: var(--drum-color);
  border-color: var(--drum-color);
}
.controls button.randomize-collection:hover,
.controls button.randomize-drum:hover {
  background: var(--lightest-color);
}

.rack {
  min-height: 333px;
}
.rack-controls {
  padding: 0.5rem 0;
}
.rack > h3 {
  margin: 0;
  line-height: 1;
}
.rack-controls label {
  display: block;
  font-size: 1rem;
  margin: 0;
  line-height: 1;
  padding-left: 3px;
}
#drum-rack .rack-controls {
  margin-top: -1rem;
}
.rack .loading {
  display: none;
}
.rack .loading:last-child {
  display: block;
}

.track {
  margin-bottom: 0.5rem;
  border-left: 4px solid black;
  padding-left: 4px;
}
.track.track-collection {
  order: 1;
  border-color: var(--collection-color);
}
.track.track-drum {
  order: 2;
  border-color: var(--drum-color);
}
.track.muted {
  opacity: 0.5;
}
.track-info {
  white-space: nowrap;
  line-height: 1;
}
.track-info h3,
.track-info a {
  margin: 0;
  font-size: 1rem;
  font-weight: none;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}
.track-info img {
  display: inline-block;
  height: 1rem;
  width: auto;
  vertical-align: middle;
  margin-left: 0.2rem;
}
.track-controls {
  justify-content: center;
  justify-content: flex-start;
}
.sequence.has-solo .modifiers button {
  visibility: hidden;
}
.sequence.has-solo .track.solo .modifiers button.solo-button,
.sequence.has-solo .track.solo .modifiers button.settings-button {
  visibility: visible;
}

.beats {
  justify-content: center;
  align-items: stretch;
}
.beat {
  position: relative;
}
.beat label span {
  @include visuallyHidden;
}
.beat input {
  opacity: 0;
  display: block;
  width: $beatWidth;
  height: $beatWidth;
  margin: 0 2px 0 0;
  padding: 0;
  border: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.beat label {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
// fake checkbox
.beat label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: $beatWidth;
  height: $beatWidth;
  background: var(--light-color);
  border: 2px solid var(--light-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.beat input:focus + label::before {
  outline: 2px solid var(--darkest-color);
}
.beat input:hover + label::before {
  background: var(--light-color);
  border-color: var(--darkest-color);
}
.beat input:checked + label::before {
  background: var(--darkest-color);
  border-color: var(--darkest-color);
}
.beat input:checked:hover + label::before {
  background: var(--light-color);
}
.beat:nth-child(4n) input {
  margin-right: 8px;
}
.track.track-collection input:hover + label::before {
  border-color: var(--collection-color);
}
.track.track-collection input:checked + label::before {
  background: var(--collection-color);
  border-color: var(--collection-color);
}
.track.track-drum input:hover + label::before {
  border-color: var(--drum-color);
}
.track.track-drum input:checked + label::before {
  background: var(--drum-color);
  border-color: var(--drum-color);
}
.track.track-drum .track-time-start {
  display: none;
}
// .track.track-collection input:checked:hover + label::before,
// .track.track-drum input:checked:hover + label::before {
//   background: var(--light-color);
// }

.modifiers button {
  height: auto;
  line-height: normal;
  padding: 0 0.2rem;
  margin: 0 2px 0 0;
  font-size: 1rem;
}
.modifiers button:last-child {
  margin-right: 0;
}
.modifiers button.svg-button {
  padding: 0;
}

.sequence-modifiers {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: var(--lightest-color);
  padding: 0.5rem 1rem 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  // border-top: 2px solid var(--darkest-color);
}
.sequence-modifiers .nav-group {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}
.sequence-modifiers .nav-group.active {
  display: flex;
}
.sequence-modifiers .nav-group-item {
  border-color: var(--collection-color);
}
.sequence-modifiers .nav-group-collection {
  padding-top: 0.5rem;
  border-color: var(--lightest-color);
}
.sequence-modifiers .nav-group-drum {
  border-color: var(--drum-color);
}
.sequence-modifiers .nav-group:last-child {
  margin-right: 0;
}
.sequence-modifiers h4 {
  margin: -1.2rem 0 0 0;
}
.sequence-modifiers h4 span {
  background: var(--lightest-color);
}
.sequence-modifiers p {
  margin: 0 0 0.5rem;
  font-size: 0.95rem;
}
.sequence-modifiers button {
  margin: 0 0.25rem 0.25rem 0;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.sequence-modifiers button:last-child {
  margin-right: 0;
}

.sequence[data-col="0"] .beat:first-child label::before,
.sequence[data-col="1"] .beat:nth-child(2) label::before,
.sequence[data-col="2"] .beat:nth-child(3) label::before,
.sequence[data-col="3"] .beat:nth-child(4) label::before,
.sequence[data-col="4"] .beat:nth-child(5) label::before,
.sequence[data-col="5"] .beat:nth-child(6) label::before,
.sequence[data-col="6"] .beat:nth-child(7) label::before,
.sequence[data-col="7"] .beat:nth-child(8) label::before,
.sequence[data-col="8"] .beat:nth-child(9) label::before,
.sequence[data-col="9"] .beat:nth-child(10) label::before,
.sequence[data-col="10"] .beat:nth-child(11) label::before,
.sequence[data-col="11"] .beat:nth-child(12) label::before,
.sequence[data-col="12"] .beat:nth-child(13) label::before,
.sequence[data-col="13"] .beat:nth-child(14) label::before,
.sequence[data-col="14"] .beat:nth-child(15) label::before,
.sequence[data-col="15"] .beat:nth-child(16) label::before {
  background: var(--lighter-color);
  border-color: var(--lighter-color);
}

.sequence[data-col="0"] .beat:first-child input:checked + label::before,
.sequence[data-col="1"] .beat:nth-child(2) input:checked + label::before,
.sequence[data-col="2"] .beat:nth-child(3) input:checked + label::before,
.sequence[data-col="3"] .beat:nth-child(4) input:checked + label::before,
.sequence[data-col="4"] .beat:nth-child(5) input:checked + label::before,
.sequence[data-col="5"] .beat:nth-child(6) input:checked + label::before,
.sequence[data-col="6"] .beat:nth-child(7) input:checked + label::before,
.sequence[data-col="7"] .beat:nth-child(8) input:checked + label::before,
.sequence[data-col="8"] .beat:nth-child(9) input:checked + label::before,
.sequence[data-col="9"] .beat:nth-child(10) input:checked + label::before,
.sequence[data-col="10"] .beat:nth-child(11) input:checked + label::before,
.sequence[data-col="11"] .beat:nth-child(12) input:checked + label::before,
.sequence[data-col="12"] .beat:nth-child(13) input:checked + label::before,
.sequence[data-col="13"] .beat:nth-child(14) input:checked + label::before,
.sequence[data-col="14"] .beat:nth-child(15) input:checked + label::before,
.sequence[data-col="15"] .beat:nth-child(16) input:checked + label::before {
  opacity: 1;
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.add-drum-form {
  display: flex;
  align-items: center;
}
.add-drum-form > * {
  margin-right: 0.25rem;
}
.add-drum-form button {
  height: auto;
  line-height: 1;
  padding: 0.4rem 0.4rem;
  margin: 0;
}

.templates,
.template {
  display: none;
}

.sources dt {
  font-weight: bold;
  margin-top: 1rem;
}
.sources dd {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.sources li img {
  display: inline-block;
  vertical-align: middle;
  height: 1rem;
  width: auto;
  margin-left: 0.5rem;
}
.sources dd li {
  margin: 0 0 0.5rem;
  padding: 0
}
.sources dd ol {
  margin: 0 0 0 1rem;
  padding: 0;
}
.sources video,
.sources audio {
  display: block;
}

.loading {
  display: none;
  padding: 1rem;
}
.loading.active {
  display: block;
}

.waveform-wrapper {
  position: relative;
}
.waveform {
  display: block;
  width: 100%;
  height: auto;
}
.clip-window {
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 0px;
}
.clip-window-left {
  left: 0;
}
.clip-window-right {
  right: 0;
}
.dialog-form-drum .waveform-row {
  display: none;
}

.controls .fav-count-button {
  padding: 0.2rem 0.4rem;
  margin-top: 0.1rem;
  margin-left: 2px;
  position: relative;
  border-radius: 2px;
  display: none;
}
.controls .fav-count-button.active {
  display: inline-block;
}
.fav-count-button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: -6px;
  width: 0;
  height: 0;
  margin-top: -6px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--lightest-color);
}
.favs-list {
  list-style: none;
  margin: 0;
}
.favs-list li {
  margin: 0;
  padding: 0.1rem;
  border-bottom: 1px solid #ccc;
}
.favs-list li:hover {
  background: #ddd;
}
.favs-list .links {
  display: flex;
  justify-content: space-between;
}
.favs-list .links a {
  margin-right: 20px;
}
.favs-list .date {
  margin-top: -5px;
}

@media only screen and (max-width: 830px) {
  .rack {
    min-height: 301px;
  }

  .selectors > div {
    width: 31%;
    padding: 0 5px 0 0;
  }
  .selectors select {
    max-width: 100%;
  }
  .selectors label {
    font-size: 1rem;
  }
  .controls button,
  .controls .button {
    padding: 4px 2px;
  }
  .controls button.toggle-play {
    font-size: 1.2rem;
    padding: 6px 4px;
  }

  .beat input {
    width: $beatWidthMobile;
    height: $beatWidthMobile;
    // margin: 0 1px 0 0;
  }
  .beat label::before {
    width: $beatWidthMobile;
    height: $beatWidthMobile;
  }
  .modifiers button {
    height: $beatWidthMobile;
    line-height: $beatWidthMobile;
  }
  .modifiers button .svg-icon {
    width: $beatWidthMobile - 4px;
    height: $beatWidthMobile - 4px;
  }
}
