---
---

@import 'normalize';
@import 'base';
@import 'collection';

.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  margin: 1rem;
}

.preview-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.preview-list > li {
  margin: 0 0.5rem 1rem 0;
  padding: 1rem 1rem 0;
  width: 360px;
  border: 1px solid var(--darkest-color);
  display: flex;
  flex-direction: column;
}
.preview-list h4 {
  margin: 0;
  line-height: 1.3;
}
.preview-list p {
  margin: 0;
}
.preview-list ul {
  margin: 0.5rem -1rem 0;
  padding: 0.5rem 0 1rem 2rem;
  background: var(--lighter-color);
  flex-grow: 1;
}
a.button {
  font-weight: normal;
}
.button.small,
button.small {
  padding: 0 0.5rem;
  height: 28px;
  line-height: 28px;
}

.preview-list .submenu a {
  min-width: 84px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.3rem;
}
