---
---

@import 'normalize';
@import 'base';
@import 'collection';

.container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  margin: 1rem;
}

.preview-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.preview-list > li {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 0;
  display: inline-block;
  width: 360px;
  vertical-align: top;
  border-bottom: 1px solid var(--darkest-color);
}
a.button {
  font-weight: normal;
}
.button.small,
button.small {
  padding: 0 0.5rem;
  height: 28px;
  line-height: 28px;
}

.preview-list .submenu a {
  min-width: 84px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}
