*.pyc
.DS_Store
node_modules/
package-lock.json
audio/collections/*
!audio/collections/.keep
audio/sprites/*
!audio/sprites/.keep
audio/samplepacks/*
!audio/samplepacks/.keep
audio/items/*
!audio/items/.keep
.sass-cache
.jekyll-metadata
Gemfile.lock
_site/
s3_website.yml
samplepacks/*
!samplepacks/.keep
_collections/*
_explore/*
!_explore/.keep
_remix/*
!_remix/.keep
_use/*
!_use/.keep
