<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }} / {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow" />

  {% if page.image %}
  <meta property="og:image" content="{{ site.canonical_url }}{{ page.image }}" />
  <meta name="image_src" content="{{ site.canonical_url }}{{ page.image }}" />
  {% else %}
  <meta property="og:image" content="{{ site.canonical_url }}/img/citzen_dj_banner.jpg" />
  <meta name="image_src" content="{{ site.canonical_url }}/img/citzen_dj_banner.jpg" />
  {% endif %}

  {% if page.layout == 'remix' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/remix.css" />
  {% elsif page.layout == 'explore' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/explore.css" />
  {% elsif page.layout == 'use' %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/use.css" />
  {% else %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/page.css" />
  {% endif %}

  {% if page.stylesheet %}
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ page.stylesheet }}" />
  {% endif %}
</head>
<body>
