@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin visuallyHidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

$headerHeight: 30px;

:root {
  --darkest-color: black;
  --darker-color: #222222;
  --dark-color: #444444;
  --light-color: #aaaaaa;
  --lighter-color: #cccccc;
  --lightest-color: white;
  --secondary-color: #c4aa00;
  --secondary-light-color: #ffea63;
  --collection-color: #527fc7;
  --drum-color: #c75262;
}

body {
  font-size: 18px;
  font-family: 'Alegreya', serif;
  color: var(--darkest-color);
  background: var(--lightest-color);
  line-height: 1.8;
}

a {
  color: var(--darkest-color);
  font-weight: bold;
}
a:hover {
  color: var(--darker-color);
}
a:focus,
button:focus {
  outline: 3px solid var(--drum-color);
}
a.button {
  display: inline-block;
  text-decoration: none;
}
button,
.button {
  background: var(--darkest-color);
  color: var(--lightest-color);
  border: 2px solid var(--darkest-color);
  box-sizing: border-box;
  font-size: 1.2rem;
  height: 40px;
  line-height: 40px;
  padding: 0 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
}
button.small,
.button.small {
  font-size: 1rem;
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
  margin: 0.25rem 0.25rem 0 0;
}
button:hover,
button.active,
.button:hover,
.button.active {
  background: var(--lightest-color);
  color: var(--darkest-color);
}
button.active:hover,
.button.active:hover {
  color: var(--darker-color);
  border-color: var(--darker-color);
}
button.inverted,
.button.inverted {
  background: var(--lightest-color);
  color: var(--darkest-color);
  border: 2px solid var(--lightest-color);
}
button.inverted:hover,
button.inverted.active,
.button.inverted:hover,
.button.inverted.active {
  background: var(--darkest-color);
  color: var(--lightest-color);
}
button.inverted.active:hover,
.button.inverted.active:hover {
  color: var(--lightest-color);
  border-color: var(--lightest-color);
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: $headerHeight;
  line-height: $headerHeight;
  background: var(--darkest-color);
  color: var(--lightest-color);
  padding: 0 1rem;
  // position: fixed;
  // width: 100%;
  // top: 0;
  // left: 0;
  // box-sizing: border-box;
  // z-index: 200;
}
header a,
header a:hover,
header a.active,
header a.active:hover {
  color: var(--lightest-color);
  text-decoration: none;
  font-size: 1.1rem;
}
header h1 {
  margin: 0;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
header nav ul li {
  padding-left: 1rem;
}

footer {
  padding: 0.5rem 0 2rem;
  border-top: 3px solid var(--darkest-color);
}
footer p {
  font-size: 1rem;
}

.clearfix {
  @include clearfix;
}

.visually-hidden {
  @include visuallyHidden;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/alegreya-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/alegreya-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/alegreya-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
