
$collectionHeight: 44px;
$collectionTabHeight: $collectionHeight - 4px;

.wrapper {
  // padding-top: $headerHeight + $collectionHeight + 12px;
  // padding-top: $headerHeight + 6px;
}

.collection-header {
  height: $collectionHeight;
  line-height: $collectionHeight;
  background: white;
  padding: 6px 0 0 0;
  margin-bottom: 10px;
  // position: fixed;
  // width: 100%;
  // top: $headerHeight;
  // left: 0;
  // box-sizing: border-box;
}

.collection-header button,
.collection-header button:hover,
.collection-header button.active {
  margin: 0;
  color: var(--darkest-color);
  background: none;
  border: none;
  white-space: nowrap;
}

.collection-header nav > ul {
  justify-content: space-between;
}
.collection-header nav > ul > li:first-child {
  padding-left: 1rem;
}
.collection-header nav > ul > li:last-child {
  padding-right: 1rem;
}
.collection-header nav > ul > li {
  border-bottom: 2px solid var(--darkest-color);
  box-sizing: border-box;
  height: $collectionTabHeight;
  line-height: $collectionTabHeight;
  margin-top: 4px;
  position: relative;
}
.collection-header a.tab {
  padding: 0 1rem;
  text-decoration: none;
}
.collection-header a.tab:hover {
  text-decoration: underline;
}
.collection-header nav > ul > li.active {
  border: 2px solid var(--darkest-color);
  border-bottom-color: var(--lightest-color);
}
.collection-header a.tab.active:hover {
  cursor: default;
  text-decoration: none;
}

.collection-header .label {
  padding-right: 0.5rem;
}
.collection-header .spacer {
  flex-grow: 1;
}

.submenu-link[aria-expanded="true"] ~ .submenu {
  display: block;
}
.submenu {
  display: none;
  position: absolute;
  top: $collectionTabHeight - 4px;
  left: 0;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  background: var(--lightest-color);
  border: 2px solid var(--darkest-color);
  line-height: auto;
  height: auto;
  z-index: 100;
}

.submenu li,
.submenu a {
  line-height: normal;
}
.submenu a {
  border-top: 1px solid var(--darkest-color);
  padding: 0.5rem 0.25rem;
  display: block;
  text-decoration: none;
}
.submenu a:hover {
  text-decoration: underline;
}
.submenu li:first-child a {
  border: none;
}

footer {
  padding-left: 1rem;
}
