
$collectionHeight: 44px;
$collectionTabHeight: $collectionHeight - 4px;

$collectionHeightMobile: 28px;
$collectionTabHeightMobile: $collectionHeightMobile - 4px;

.wrapper {
  // padding-top: $headerHeight + $collectionHeight + 12px;
  // padding-top: $headerHeight + 6px;
}

.collection-header {
  // height: $collectionHeight;
  // line-height: $collectionHeight;
  background: white;
  padding: 4px 0 8px 0;
  margin-bottom: 6px;
  border-bottom: 2px solid black;
}
.remix .collection-header,
.explore .collection-header {
  margin-bottom: 0px;
  border: none;
}
.collection-header h2 {
  font-size: 1.2rem;
  margin: 0;
  line-height: $collectionHeight;
  color: white;
  height: $collectionTabHeight;
  line-height: $collectionTabHeight;
  padding: 0 10px;
  background: black;
}

.collection-header button,
.collection-header button:hover,
.collection-header button.active {
  margin: 0;
  color: var(--darkest-color);
  background: none;
  white-space: nowrap;
}
.collection-header button,
.collection-header .button {
  padding: 0 10px;
}
.collection-header button.submenu-link {
  padding-right: 20px;
  box-sizing: border-box;
}
.collection-header a.button {
  white-space: nowrap;
  margin: 2px 6px 0 0;
}

.collection-header nav > ul {
  justify-content: space-between;
  flex-wrap: wrap;
}
.collection-header nav > ul > li {
  box-sizing: border-box;
  line-height: $collectionTabHeight;
  margin-top: 4px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.collection-header nav > ul > li:first-child {
  flex-grow: 1;
}
.collection-header nav > ul > li:last-child {
  margin-right: 1rem;
}
.collection-header nav > ul > li.collection-links {
  margin-bottom: -16px;
}

.collection-header .submenu-link {
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 600px) {
  .collection-header .submenu-link {
    max-width: 360px;
  }
}
.collection-header .submenu {
  top: $collectionTabHeight - 4px;
  left: 1rem;
}

footer {
  padding-left: 1rem;
}


@media only screen and (max-width: 768px) {
  .submenu-link {
    max-width: 360px;
  }

  .collection-header h2 {
    font-size: 1rem;
    line-height: $collectionHeightMobile;
    height: $collectionTabHeightMobile;
    line-height: $collectionTabHeightMobile;
    padding: 0 5px;
  }

  .collection-header button,
  .collection-header .button {
    padding: 0 5px;
    font-size: 1rem;
    height: $collectionTabHeightMobile;
    line-height: $collectionTabHeightMobile;
    padding: 0 5px;
  }

  .collection-header nav > ul > li {
    line-height: $collectionTabHeightMobile;
    padding-left: 5px;
  }
  .collection-header nav > ul > li:last-child {
    margin-right: 0;
  }
  .collection-header nav > ul > li.collection-links {
    margin-bottom: 0;
  }

  .collection-header button.submenu-link {
    padding-right: 5px;
  }

  .collection-header .submenu {
    top: $collectionTabHeightMobile - 4px;
    left: 5px;
  }
  .collection-header .submenu a {
    font-size: 1rem;
    padding: 5px;
  }
}
