---
layout: custom
uid: public-domain-2022
title: Public Domain Audio Release 2022
permalink: "/public-domain-2022/"
---

<main>
  <div class="container {{ page.uid }}">

    {% include notice.html %}

    <img src="{{ site.baseurl }}/img/public_domain_audio_2022_banner.jpg" class="page-banner-image" alt="A grid of album covers representing the audio contained 2022 public domain release" />
    <p class="caption">Album covers of <a href="https://www.loc.gov/collections/national-jukebox/?all=True&dates=1800%2F1922&st=grid" target="_blank">pre-1923 records from the National Jukebox collection</a>.</p>

    <h1>Thousands of public domain sound recordings added to Citizen DJ in 2022!</h1>

    <p>Under the <a href="https://www.copyright.gov/music-modernization/" target="_blank">Music Modernization Act</a> of 2018 (see section 1401 <a href="https://www.copyright.gov/legislation/2018_mma_amendments.pdf" target="_blank">in the bill</a>), all sound recordings published before <strong>January 1, 1923</strong> entered the public domain on <strong>January 1, 2022</strong>. This means that <a href="https://www.loc.gov/collections/national-jukebox/?dates=1800/1922" target="_blank">thousands of sound recordings</a> from the Library of Congress are now free to use and reuse in Citizen DJ. Furthermore, for each year between 2023 and 2046, recordings older than 100 years will enter the public domain. After 2046 we will need to wait 10 years for pre-1956 recordings to enter the public domain under current law.</p>

    <p>This is significant because until 2022, no sound recording has entered the public domain due to copyright expiration. This is because before February 15, 1972, sound recordings (unlike most other material like sheet music, photography, and books) weren't protected by federal copyright law. They were protected by state law, which means that they were protected indefinitely. And prior to this bill, the vast majority of sound recordings would not have entered the public domain due to copyright expiration until 2067.</p>

    <h2>What was added to Citizen DJ in 2022?</h2>

    <p>
    Now in its twelfth year, <a href="https://www.loc.gov/collections/national-jukebox/" target="_blank">the National Jukebox</a> has grown to over 16,000 early 20th Century recordings from the Victor, Columbia and Harmony labels. The recordings on the National Jukebox date from 1900 to 1925 and, under the Music Modernization Act, all sound recordings published prior to 1923 have entered the public domain effective on January 1, 2022.
    </p>

    <p>
    The staff of the Library of Congress <a href="https://www.loc.gov/programs/audio-visual-conservation/about-this-program/" target="_blank">National Audio-Visual Conservation Center (NAVCC)</a>, along with <a href="https://labs.loc.gov/" target="_blank">LC Labs</a> and Citizen DJ developer, <a href="https://brianfoo.com/" target="_blank">Brian Foo</a>, have selected thousands of audio samples for the initial launch of National Jukebox content on the Citizen DJ platform. The selected works come from the collections of the Library of Congress and span a variety of genres from classical and opera, to early jazz and blues, humorous songs, spoken word and even some yodeling. Made in the United States between 1900 and 1921, these recordings represent the vastly diverse and intensely creative artists who played a part in shaping the nation's recorded sound history and whose legacy lives on through these rare and valuable cultural treasures.
    </p>

    <p>
    The NAVCC is proud to contribute content to Citizen DJ in order to increase access to these important recordings. The Library of Congress continues to inspire creativity and raise awareness of the historical recordings in its custody through encouraging creators around the globe to reuse and repurpose these unique audio materials in the creation of new works.
    </p>

    <h3>Are all the National Jukebox recordings available on Citizen DJ?</h3>

    <p>No, some recordings were excluded from Citizen DJ due to copyright limitations or ethical concerns. Furthermore, a subset of the remaining recordings were <a href="/about/#how-do-you-selectcreate-the-audio-clips">selected based on their their music-making potential</a>, with preferences with those recordings that are sufficiently loud, have less noise, and have a clear musical pitch. If you cannot find a specific National Jukebox recording on Citizen DJ, you can still <a href="https://www.loc.gov/collections/national-jukebox/?dates=1800/1922" target="_blank">access those recordings directly on the Library's website</a>.</p>

    <h3>A note about this historical content</h3>

    <p>These selections are presented as part of the record of the past. They are historical recordings which reflect the language, attitudes, perspectives, and beliefs of different times. The Library of Congress does not endorse the views expressed in these recordings, which may contain content offensive to users.</p>

    <p>If you discover such content, you may <a href="/feedback/">report it here</a>. If you are an artist, scholar, or concerned citizen, you are encouraged to interrogate this content rather than perpetuate it.</p>

    <h2>Remix the new collections!</h2>

  </div>

  {% assign pages = site.use | sort:"sequence" %}
  <div class="collections">
    {% for p in pages %}
      {% if p.active > 0 and p.year_added == 2022 %}
      <div class="collection">
        {% if p.image_url %}
        <img src="{{ p.image_url }}" alt="A grid of clips representing the audio contained in this collection: {{ p.title }}" />
        {% endif %}
        <h3>{{ p.title }}</h3>
        {% if p.subjects %}
        <p class="subjects"><em>{{ p.subjects | array_to_sentence_string }}</em></p>
        {% endif %}
        <p class="description">{{ p.description }}</p>
        <p class="collection-buttons">
          <a href="{{ p.collection_base_url }}explore/" class="button">Explore</a>
          <a href="{{ p.collection_base_url }}remix/" class="button">Remix</a>
          <a href="{{ p.collection_base_url }}use/" class="button">Browse &amp; download</a>
        </p>
      </div>
      {% endif %}
    {% endfor %}
  </div>

</main>

<div class="container">
  {% include footer.html %}
</div>
