{% include head.html %}

<div class="wrapper explore {{ page.id }}">

  {% include header.html %}
  {% include collection_header.html %}

  <main>
    <div id="app" class="app">
      <div id="image" class="image">
        <div id="overlay" class="overlay"></div>
        <div id="label" class="label"></div>
        <canvas id="filter-canvas"></canvas>
      </div>
      <div id="instructions" class="instructions"><p id="instructions-text">Loading sounds...</p></div>
      <div id="touch" class="touch"></div>
    </div>
  </main>

  <div class="item-info">
    <div id="filters" class="filters">
      <button class="button inverted toggle-filters">Filters</button>
      <div class="filters-controls">
        <label for="select-subject">Subject</label>
        <select id="select-subject" class="filter-select"></select>
        <label for="select-note">Musical note</label>
        <select id="select-note" class="filter-select"></select>
        <label for="range-pitch-min">Minimum pitch</label>
        <div class="range-wrapper">
          <input id="range-pitch-min" type="range" min="0" max="100" value="0" step="0.1" class="slider" data-value="#range-pitch-min-text" /> <span id="range-pitch-min-text" class="value-text">0</span>
        </div>
        <div class="range-wrapper">
          <label for="range-pitch-max">Maximum pitch</label>
          <input id="range-pitch-max" type="range" min="0" max="100" value="100" step="0.1" class="slider" data-value="#range-pitch-max-text" /> <span id="range-pitch-max-text" class="value-text">100</span>
        </div>
        <button class="button clear-filters">Clear filters</button>
      </div>
    </div>
    <div id="item-info"></div>
  </div>

</div>

<script src="{{ site.baseurl }}/js/vendor/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/underscore-1.9.1.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/hammer-2.0.8.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/howler.js-2.1.2.min.js"></script>
<script src="{{ site.baseurl }}/js/lib/math.js"></script>
<script>
var CONFIG = {
  'baseUrl': '{{ site.baseurl }}',
  'uid': '{{ page.uid }}',
  'provider': '{{ page.provider }}'
};
</script>
<script src="{{ site.baseurl }}/js/ui.js"></script>
<script src="{{ site.baseurl }}/js/explore.js"></script>

{% include foot.html %}
