{% include head.html %}

<div class="wrapper item {{ page.uid }}">

  {% include header.html %}
  {% include collection_header.html %}

  <main class="container">
    <h2>{{ page.title }}</h2>
    <h3>Created by: {{ page.contributors | split: " | " | array_to_sentence_string }}</h3>
    <h3>Part of: <a href="{{ page.collectionUrl }}">{{ page.collectionTitle }}</a></h3>

    {% if page.stream_url %}
      <audio src="{{ site.asset_url }}{{ page.stream_url }}" controls crossorigin="anonymous"></audio>
    {% endif %}

    <p>
      {% if page.stream_url %}
      <a href="{{ site.asset_url }}{{ page.stream_url }}" target="_blank" download class="button small">Download audio</a>
      {% endif %}
      <a href="{{ site.baseurl }}/{{ page.collectionUid }}/remix/?itemId={{ page.uid }}" class="button small">Remix this</a>
    </p>

    {% if page.summary %}
      <p>{{ page.summary }}</p>
    {% endif %}

    <p>{{ content }}</p>

    <h3>Rights and access</h3>

    <p>{{ page.rights }}</p>

    <h3>Suggested credit line</h3>

    <p>Contains samples of "{{ page.title }}" by {{ page.contributors | split: " | " | array_to_sentence_string }}. Retrieved from {{ page.credit }}</p>

    {% if page.source_url %}
      <p><a href="{{ page.source_url }}" class="button">View on {{ page.collectionTitle }}</a></p>
    {% endif %}

    {% include footer.html %}

  </main>

</div>

<script src="{{ site.baseurl }}/js/vendor/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/underscore-1.9.1.min.js"></script>
<script>
  var CONFIG = {
    'baseUrl': '{{ site.baseurl }}',
    'uid': '{{ page.uid }}'
  };
</script>
<script src="{{ site.baseurl }}/js/ui.js"></script>

{% include foot.html %}
