{% include head.html %}

<div class="wrapper item {{ page.id }}">

  {% include header.html %}

  <main class="container">
    <h2>{{ page.title }}</h2>
    <h3>Part of <a href="{{ page.collectionUrl }}">{{ page.collectionTitle }}</a></h3>

    {% if page.stream_url %}
      <audio src="{{ page.stream_url }}" controls></audio>
    {% endif %}

    <p>{{ content }}</p>

    <h3>Rights and access</h3>

    <p>{{ page.rights }}</p>

    <h3>Suggested credit line</h3>

    <p>{{ page.credit }}</p>

    {% include footer.html %}

  </main>

</div>

{% include foot.html %}
