<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Citizen DJ / Redirecting...</title>
  <meta name="description" content="Citizen DJ invites the public to make hip hop music using free-to-use audio and video collections. By embedding these materials in hip hop music, listeners can discover items in the library's vast collections that they likely would never have known existed." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="noindex, nofollow" />

  <meta property="og:image" content="http://citizendj.labs.loc.gov.s3-website-us-east-1.amazonaws.com/img/citizen_dj_banner.jpg" />
  <meta name="image_src" content="http://citizendj.labs.loc.gov.s3-website-us-east-1.amazonaws.com/img/citizen_dj_banner.jpg" />

  <link rel="stylesheet" href="/css/page.css" />

</head>
<body>

  <p>You are being redirected... <a href="{{ page.redirect_url }}">Click here if you do not get redirected</a>.</p>

<script>
window.location.replace("{{ page.redirect_url }}");
</script>

</body>
</html>
