{% include head.html %}

<div class="wrapper remix {{ page.uid }}">

  {% include header.html %}
  {% include collection_header.html %}

  <main id="sequencer">

    <nav aria-label="Sequence controls and modifiers" class="sequence-controls-nav">

      <div class="selectors">
        <div>
          <label for="select-item">Choose an item:</label>
          <select id="select-item" class="select-item"><option value="-1">Loading...</option></select>
        </div>
        <div>
          <label for="select-pattern">and a beat pattern:</label>
          <select id="select-pattern" class="select-pattern"><option value="-1">Loading...</option></select>
        </div>
        <div>
          <label for="select-drum">and a drum machine:</label>
          <select id="select-drum" class="select-drum"><option value="-1">Loading...</option></select>
        </div>
      </div>

      <ul class="controls">
        <li><button class="toggle-play">Play</button></li>
        <li class="slider-item"><label for="tempo">BPM:</label> <input id="tempo" type="range" min="60" max="180" value="120" class="slider bpm-input" /> <span class="bpm-text value-text">120</span></li>
        <li><button class="randomize-collection">Shuffle item</button></li>
        <li><button class="randomize-drum">Shuffle drums</button></li>
        <li><button class="record-audio">Record</button></li>
        <li><button href="#sources" class="scroll-to">Learn more</button></li>
        <li><button class="share-audio">Share</button></li>
      </ul>

    </nav>

    <!-- <nav aria-label="Sequence modifiers" class="sequence-modifiers">
      <div class="nav-group nav-group-collection active">
        <button class="randomize-collection" title="Choose a random item in this collection">Randomize Item</button>
      </div>
      <div class="nav-group nav-group-item active" role="group" title="Applies to just the samples within the current item selected">
        <h4><span>Within current item</span></h4>
        <div class="button-group">
          <button class="prev-item" title="Cycle backward through the samples within the current item to slightly vary the current pattern">Prev</button>
          <button class="randomize-item" title="Choose random samples within this item">Randomize</button>
          <button class="next-item" title="Cycle forward through the samples within the current item to slightly vary the current pattern">Next</button>
        </div>
      </div>
      <div class="nav-group nav-group-drum active" role="group">
        <h4><span>Drum pattern</span></h4>
        <div class="button-group">
          <button class="prev-drum" title="Step to previous bar within current song's drum pattern">Prev</button>
          <button class="randomize-drum" title="Choose a random drum pattern">Randomize</button>
          <button class="next-drum" title="Step to next bar within current song's drum pattern">Next</button>
        </div>
      </div>
    </nav> -->

    <h2 class="visually-hidden">Beat sequence</h2>
    <div class="sequence">
    </div>

    <div class="container">

      <hr />

      <h2><a id="sources" name="sources"></a>Where do these sounds come from and how can I use them?</h2>

      <div class="sources">
        <dt>Part of collection:</dt>
        <dd><a href="{{ page.source_url }}" target="_blank">{{ page.title }}</a></dd>
        <div id="item-meta" role="region" aria-live="polite"></div>
        <dt>How can it be used?</dt>
        <dd>{{ page.item_rights }}</dd>
        <dd>Also see this <a href="{{ site.baseurl }}/guide/">detailed guide</a> covering the copyright and ethical considerations of digital sampling of audio and video materials.</dd>
        <a id="access-options" name="access-options"></a>
        <div id="item-access"></div>
        <div class="source">
          <dt>Drum machine sounds</dt>
          <dd>All drum machine sounds were generated from drumkits provided by <a href="http://slackermedia.info/downloads/">Slackermedia</a> Multimedia Sprint v2 and were made available under a <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-ShareAlike 3.0 license</a>. The audio files that I derived from the drumkits can be <a href="https://github.com/beefoo/citizendj/tree/master/audio/drum_machines">downloaded from Github</a> and is available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0 International</a>, which means you can (1) copy and redistribute the files in any medium or format, and (2) remix, transform, and build upon the material for any purpose, even commercially as long as you give appropriate credit and distribute under the same license.</dd>
        </div>
      </div>

    </div>

  </main>

  {% include footer.html %}
</div>

<div id="modal-track-settings" class="dialog-wrapper">
  <div role="dialog" class="dialog" aria-labelledby="modal-track-settings-label" aria-modal="true"></div>
</div>

{% raw %}
<div class="templates">
  <!-- dialog template -->
  <div id="settings-template" class="template">
    <h2 id="modal-track-settings-label">
      Track settings for {{ title }}
    </h2>
    <div class="dialog-form">
      <div class="input-row">
        <label for="track-gain">Volume:</label>
        <input id="track-gain" type="range" min="-16" max="10" value="{{ gain }}" step="0.1" class="slider track-input gain-input" data-property="gain" data-target="#gain-text" />
        <span id="gain-text" class="value-text">{{ gain }}</span>
      </div>
      <div class="input-row">
        <label for="track-duration">Clip duration:</label>
        <input id="track-duration" type="range" min="0" max="{{ duration }}" step="0.001" value="{{ clipEnd }}" class="slider track-input duration-input" data-property="clipEnd" data-target="#duration-text" />
        <span id="duration-text" class="value-text">{{ clipEnd }}</span>
      </div>
      <!-- <div class="input-row">
        <label for="track-reverb">Reverb:</label>
        <input id="track-reverb" type="range" min="0" max="1" value="{{ reverb }}" step="0.01" class="slider track-input reverb-input" data-property="reverb" data-target="#reverb-text" />
        <span id="reverb-text" class="value-text">{{ reverb }}</span>
      </div>
      <div class="input-row">
        <label for="track-pitchShift">Pitch shift:</label>
        <input id="track-pitchShift" type="range" min="-24" max="24" value="{{ pitchShift }}" step="1" class="slider track-input pitchshift-input" data-property="pitchShift" data-target="#pitchShift-text" />
        <span id="pitchShift-text" class="value-text">{{ pitchShift }}</span>
      </div> -->
    </div>
    <div class="dialog-form-actions">
      <button class="dialog-close-button">Close</button>
    </div>
  </div>
  <!-- track template -->
  <div id="track-template" class="template">
    <div class="track track-{{ trackType }}">
      <div class="track-info">
        <h3><span class="track-title-text">{{ typeLabel }} {{ sequence }}: {{ title }}</span></h3>
        <a href="#prev" class="prev-{{ trackType }}"><img src="../../img/icon_play_prev.svg" alt="Play previous icon" title="Go to previous {{ typeLabel }} sequence" /></a>
        <a href="{{ url }}" class="play-audio"><img src="../../img/icon_play.svg" alt="Play icon" title="Play this file" /></a>
        <a href="#next" class="next-{{ trackType }}"><img src="../../img/icon_play_next.svg" alt="Play next icon" title="Go to next {{ typeLabel }} sequence" /></a>
        <a href="#sources" class="scroll-to"><img src="../../img/icon_info.svg" alt="Information icon" title="Information about this file" /></a>
      </div>
      <div class="track-controls">
        <div class="beats">
          <div class="beat"><input type="checkbox" id="{{ uid }}-0" value="0" /><label for="{{ uid }}-0"><span>Beat 1 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-1" value="1" /><label for="{{ uid }}-1"><span>Beat 2 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-2" value="2" /><label for="{{ uid }}-2"><span>Beat 3 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-3" value="3" /><label for="{{ uid }}-3"><span>Beat 4 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-4" value="4" /><label for="{{ uid }}-4"><span>Beat 5 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-5" value="5" /><label for="{{ uid }}-5"><span>Beat 6 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-6" value="6" /><label for="{{ uid }}-6"><span>Beat 7 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-7" value="7" /><label for="{{ uid }}-7"><span>Beat 8 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-8" value="8" /><label for="{{ uid }}-8"><span>Beat 9 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-9" value="9" /><label for="{{ uid }}-9"><span>Beat 10 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-10" value="10" /><label for="{{ uid }}-10"><span>Beat 11 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-11" value="11" /><label for="{{ uid }}-11"><span>Beat 12 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-12" value="12" /><label for="{{ uid }}-12"><span>Beat 13 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-13" value="13" /><label for="{{ uid }}-13"><span>Beat 14 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-14" value="14" /><label for="{{ uid }}-14"><span>Beat 15 of 16 in this row</span></label></div>
          <div class="beat"><input type="checkbox" id="{{ uid }}-15" value="15" /><label for="{{ uid }}-15"><span>Beat 16 of 16 in this row</span></label></div>
        </div>
        <div class="modifiers">
          <button class="svg-button download-button scroll-to" title="download options" aria-label="download options" href="#access-options">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 100 125" x="0px" y="0px"><title>download options</title><path d="M23.912,46.567l6.829-6.829c0.658-0.658,1.734-0.658,2.392,0L43.48,50.085V7.991c0-0.93,0.761-1.692,1.692-1.692h9.657  c0.93,0,1.692,0.761,1.692,1.692v42.094l10.347-10.347c0.658-0.658,1.734-0.658,2.392,0l6.829,6.829  c0.658,0.658,0.658,1.734,0,2.392L51.283,73.765c-0.351,0.351-0.821,0.509-1.283,0.485c-0.462,0.024-0.932-0.134-1.283-0.485  L23.912,48.96C23.254,48.302,23.254,47.225,23.912,46.567z M94.288,92.206V53.148c0,0,0.003-0.528-0.459-0.961  c-0.358-0.336-0.867-0.336-0.867-0.336h-8.989c0,0-0.38,0.001-0.786,0.367c-0.42,0.379-0.42,0.866-0.42,0.866V82.18H17.233V53.148  c0,0,0.003-0.528-0.459-0.961c-0.358-0.336-0.867-0.336-0.867-0.336H6.919c0,0-0.38,0.001-0.786,0.367  c-0.42,0.379-0.42,0.866-0.42,0.866v39.148c0,0.807,0.661,1.468,1.468,1.468h85.613C93.615,93.701,94.288,93.028,94.288,92.206z"/></svg>
          </button>
          <button class="svg-button download-button" title="track settings" aria-label="track settings">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 100 125" x="0px" y="0px"><title>track settings</title><path d="M53,47.46V18H47V47.46a10,10,0,0,0,0,19.08V82h6V66.54a10,10,0,0,0,0-19.08ZM50,61a4,4,0,1,1,4-4A4,4,0,0,1,50,61Z"/><path d="M26,32.46V18H20V32.46a10,10,0,0,0,0,19.08V82h6V51.54a10,10,0,0,0,0-19.08ZM23,46a4,4,0,1,1,4-4A4,4,0,0,1,23,46Z"/><path d="M80,32.46V18H74V32.46a10,10,0,0,0,0,19.08V82h6V51.54a10,10,0,0,0,0-19.08ZM77,46a4,4,0,1,1,4-4A4,4,0,0,1,77,46Z"/></svg>
          </button>
          <button class="solo-button">solo</button>
          <button class="mute-button">mute</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}

<a href="" download="output.wav" class="record-download-link visually-hidden">Download recording</a>

<script src="{{ site.baseurl }}/js/vendor/jquery-3.4.1.min.js"></script>
<script src="{{ site.baseurl }}/js/vendor/underscore-1.9.1.min.js"></script>
<script>
  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g
  };
</script>
<script src="{{ site.baseurl }}/js/vendor/tone-13.8.25.min.js"></script>
<script src="{{ site.baseurl }}/js/lib/util.js"></script>
<script src="{{ site.baseurl }}/js/lib/collections.js"></script>
<script src="{{ site.baseurl }}/js/lib/drums.js"></script>
<script src="{{ site.baseurl }}/js/lib/track.js"></script>
<script src="{{ site.baseurl }}/js/lib/sequencer.js"></script>
<script src="{{ site.baseurl }}/js/lib/recorder.js"></script>
<script>
  var CONFIG = {
    'baseUrl': '{{ site.baseurl }}',
    'uid': '{{ page.uid }}',
    'provider': '{{ page.provider }}',
    'localItems': '{{ page.local_items }}',
    'credit': '{{ page.credit }}'
  };
</script>
<script src="{{ site.baseurl }}/js/ui.js"></script>
<script src="{{ site.baseurl }}/js/remix.js"></script>

{% include foot.html %}
